 <body>
    <div class="row bg-primary align-items-center py-5">
        <div class="col-md-4 col-12 text-center">
            <img src="/Cabezera.jpg" alt="" style="width: 200px; height: 200px; border-radius: 100px;">
        </div>
        <div class="col-md-8 col-12 text-center" style="color: white;">
            <h1>Antonio Jesus Luque Bolivar</h1>
            <h3>Desarrollador Multiplataforma</h3>
        </div>
    </div>

    <div class="row justify-content-center" style="color: white; background-color:#E3910E">

        <div class="col-md-7 col-12" style="padding: 50px 100px;">
            <img src="images/Cabezera.jpg" alt="" style="width: 100%; height: 300px;">
            <h2 class="mt-4">Curiosidades de la Web Notas</h2>
            <div>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsum assumenda dolorum error unde, mollitia doloremque repellendus at, iure voluptatibus modi vero ipsam atque, cum corrupti. Magni maiores in ut.
            </div>
        </div>

        <div class="col-md-5 col-12" style="padding: 20px 8%;">
            <div>
                <div class="card bg-primary" style="border-radius: 10px; box-shadow: 5px 5px rgba(0, 0, 0, 0.3)">
                    <div class="card-header">
                      <h2>Contacta Conmigo</h2>
                      <h4>Introduce tus datos</h4>
                    </div>
                    <div class="card-body" style="border-radius: 0 0 10px 10px; background-color: grey;">
                        <form>
                            <div class="mb-3">
                              <label for="inputName" class="form-label">Nombre</label>
                              <input type="name" class="form-control" id="name">
                            </div>
                            <div class="mb-3">
                                <label for="inputEmail" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="mb-3">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Motivo del Contacto</option>
                                    <option value="1">Informacion</option>
                                    <option value="2">Consultas</option>
                                  </select>
                                <div id="emailHelp" class="form-text"></div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>