<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{"Notas" | translate}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="btn"(click)="cambiarEspanol()">
              <img class="img-fluid" style="width:8%;height:0%;" src="./assets/espana.png" alt="Error">
            </button>
          </li>
          <li class="nav-item">
            <button class="btn" (click)="changeToEnglish()">
              <img style="width:8%;height:0%;" src="./assets/reino-unido.png" alt="Error">
            </button>
          </li>
        </ul>
        <span class="navbar-text">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home">{{"Inicio" | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/config">{{"Configuracion" | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/config">{{"Informacion" | translate}}</a>
            </li>
            <li class="nav-item">
              <button class="btn btn-danger" (click)="cerrarSesion()">{{"Cerrar Sesion" | translate}}</button>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </nav>
