<div style="width: 100%; height: 92%; background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */display: flex; justify-content: center; align-items: center;">
    <div>
        <div style="padding: 50px; background-color: white; border-radius:10px; height:auto;">
            <h2 style="margin-bottom:20px;" >{{"Bienvenido a la Web Notas" | translate}}</h2>
            <div style="text-align:center; display:flex; justify-content:center">
                <asl-google-signin-button type="standard" locale="es" text='signin_with' size="medium"></asl-google-signin-button>
            </div>
        </div>
    </div>
</div>