html,body{
    width:100% ;
    height:100% ;
    margin:0;
}
#credential_picker_container{
    display: none;
}
#credential_picker_iframe{
    display: none;
}
#animated-container{
    display: none;
}
#container{
    display: none;
}